template(name="ooButtonDocs")
  +ooNativeScroller oo="push"
    button.js-reset(btn="critical") Reset
    each dataAddedPackages
      +with description
        h2 <small>meteor add</small> {{orgName}}:{{packageName}}
        h3 {{title}}
      p readme - {{readme}}
      h4 packageVersion : {{packageVersion}}
      h4 changelog : {{changelog}}
      h4 patches:
      each patches
        +with this
          p {{version}}: changelog - {{changelog}}
      input.js-buttonText(value="{{currentText}}")
      input.js-buttonIcon(value="{{currentIcon}}")
      each dataPackageApiTypes
        h4 {{apiType}}
        h7 {{apiDocs}}
        each dataPackageApi
          +Template.dynamic template=../ooTemplateName
    h1 docs
    h4 Background Color
    each backColors
      button.js-selectBackColor(btn="neutral-light push-left push-bottom outline tiny" data-color="{{this}}") {{this}}
      i.swatch(oo-Color="back:{{this}}")
    .ooDocs-component-wrapper(oo-Color="back:{{currentBackColor}}")
      button(btn="{{params}}") {{currentText}}
    .ooDocs-component-wrapper(oo-Color="back:{{currentBackColor}}")
      button(btn="{{params}}")
        i(class="{{currentIcon}}")
    .ooDocs-component-wrapper(oo-Color="back:{{currentBackColor}}")
      button(btn="{{params}}") {{currentText}}
      button(btn="{{params}}") {{currentText}}
      button(btn="{{params}}")
        i(class="{{currentIcon}}")
      button(btn="{{params}}")
        i(class="{{currentIcon}}")
    +markdown
      ```js
      div(oo-Color="back:{{currentBackColor}}")
        button(btn="{{params}}") {{currentText}}
      ```
      ```js
      div(oo-Color="back:{{currentBackColor}}")
        button(btn="{{params}}")
          i(class="{{currentIcon}}")
      ```
      ```js
      div(oo-Color="back:{{currentBackColor}}")
        button(btn="{{params}}") {{currentText}}
        button(btn="{{params}}") {{currentText}}
        button(btn="{{params}}")
          i(class="{{currentIcon}}")
        button(btn="{{params}}")
          i(class="{{currentIcon}}")
      ```

template(name="ooDocsButton")
  button.js-setApiValue(btn="{{#if active}} action {{else}} neutral-light {{/if}} outline push-left push-bottom  tiny " data-api="{{apiValue}}" ) {{apiName}}

template(name="ooDocsColor")
  button.js-setApiValue(btn="{{#if active}} action {{else}} neutral-light {{/if}} push-left push-bottom outline tiny" data-color="{{apiValue}}") {{apiName}}
  i.swatch(oo-Color="back:{{apiValue}}")
