template(name="ooButtonDocs")
  +ooNativeScroller oo="push"
    each dataAddedPackages
      h4 _id - {{_id}}
      div
        h4 description :
        +with description
          p title - {{title}}
          p packageName - {{packageName}}
          p orgName - {{orgName}}
          p readme - {{readme}}
      div
        h4 packageVersion : {{packageVersion}}
      div
        h4 changelog : {{changelog}}
      div
        h4 patches:
        each patches
          +with this
            p version - {{version}}
            p changelog - {{changelog}}
      div
        each dataPackageApiTypes
          h4 {{apiType}}
          h7 {{apiDocs}}
          each dataPackageApi
            button.js-setApiValue(btn="neutral-light push-left push-bottom outline tiny" data-api="{{apiValue}}") {{apiName}}
            //- p description: {{description}}
    h1 docs
    h4 Background Color
    each backColors
      button.js-selectBackColor(btn="neutral-light push-left push-bottom outline tiny" data-color="{{this}}") {{this}}
      i.swatch(oo-Color="back:{{this}}")
    h4 Size
    each buttonSize
      button.js-selectButtonSize(btn="neutral-light push-left push-bottom outline tiny" data-size="{{this}}") {{this}}
    h4 Shape
    each buttonShape
      button.js-selectButtonShape(btn="neutral-light push-left push-bottom outline tiny" data-shape="{{this}}") {{this}}
    h4 Color
    each buttonColors
      button.js-selectbuttonColors(btn="neutral-light push-left push-bottom outline tiny" data-color="{{this}}") {{this}}
      i.swatch(oo-Color="back:{{this}}")
    .ooDocs-component-wrapper(oo-Color="back:{{currentBackColor}}")
      button(btn="{{params}}") Some
    .ooDocs-component-wrapper(oo-Color="back:{{currentBackColor}}")
      button(btn="{{params}}") Some
      button(btn="{{params}}") Some
      button(btn="{{params}}") Some
    +markdown
      ```js
        div(oo-Color="back:{{currentBackColor}}")
          button(btn="{{params}}") Some
      ```
      ```js
        div(oo-Color="back:{{currentBackColor}}")
          button(btn="{{params}}") Some
          button(btn="{{params}}") Some
          button(btn="{{params}}") Some
      ```
